* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

header {
  height: 10%;
  width: 100%;
  background-color: #493B55;
  position: fixed;
}
header div {
  padding: 25px;
  display: inline-block;
}
header div .icon {
  color: #149E85;
  font-size: 30px;
  padding-right: 20px;
}
header div p {
  display: inline;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.sidenav {
  height: 100%;
  width: 90px;
  position: fixed;
  background-color: #493B55;
  top: 70;
  overflow-x: hidden;
}
.sidenav a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 30px;
}
.sidenav a:hover {
  background-color: #169E86;
}

.content {
  margin-left: 90px;
  padding: 100px 20px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  background-color: white;
  color: #797A7C;
}
table th, table td {
  text-align: left;
  padding: 16px;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}
table button-crud {
  font-size: 22px;
  border: none;
  background-color: none;
}
table button-crud:hover {
  color: #D7524D;
}

button-add-client {
  padding: 10px;
  background-color: #D7524D;
  border-radius: 5px;
  color: white;
}

button-add-client:hover {
  background-color: #b0322e;
}

p-header {
  font-weight: bold;
  font-size: 20px;
  color: #797A7C;
}

p-header-room {
  font-weight: bold;
  font-size: 18px;
  color: #797A7C;
  display: flex;
  padding-top: 10px;
  padding-bottom: 25px;
}

.modal-contenido {
  background-color: white;
  width: 40%;
  margin: 150px 500px;
  position: relative;
  border-radius: 50px;
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}

#miModal:target {
  opacity: 1;
  pointer-events: auto;
}

.form-reservacion {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.form-reservacion select, .form-reservacion .date {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/*# sourceMappingURL=estilos.css.map */
